1 DIALOG 81, 42, 267, 255
STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Virtual Disks"
MENU "IDM_MENU_CPL_APPLET"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS SANS SERIF"
{
   CONTROL "", 0, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 2, 252, 44 
   CONTROL 1, 0, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 15, 21, 20 
   CONTROL "Virtual disks work just like physical disks. Image files can be mounted as virtual disks and used like normal drives.", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 18, 208, 18 
   CONTROL "Available Virtual Disks:", 0, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 52, 252, 177 
   CONTROL "Current virtual devices", 101, "SysListView32", LVS_EX_FULLROWSELECT | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 66, 238, 136 
   CONTROL "&Unmount", 11855, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 207, 50, 15 
   CONTROL "&Extend...", 11854, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 207, 50, 15 
   CONTROL "F&ormat...", 11853, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 207, 50, 15 
   CONTROL "Save &As...", 11852, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 207, 50, 15 
   CONTROL "Mount &New...", 11840, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 234, 50, 15 
   CONTROL "&Refresh", 11843, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 234, 50, 15 
}

2 DIALOG 111, 12, 268, 321
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT
CAPTION "Mount New Virtual Disk"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS SANS SERIF"
{
   CONTROL "", 0, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 4, 253, 44 
   CONTROL 303, 0, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 17, 21, 20 
   CONTROL "To create a virtual disk in memory instead of using an image file, specify the size of disk and leave the Image file field blank.", 112, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 46, 19, 202, 18 
   CONTROL "Specify Image File:", 0, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 54, 253, 34 
   CONTROL "", 102, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 68, 183, 13 
   CONTROL "Bro&wse...", 111, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 67, 50, 15 
   CONTROL "Specify Disk Size and Units:", 113, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 94, 253, 50 
   CONTROL "Virtual Disk &Size:", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 110, 61, 9 
   CONTROL "(current image file size)", 105, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 81, 108, 87, 13 
   CONTROL "Bytes", 114, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 126, 32, 13 
   CONTROL "Blocks", 101, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 54, 126, 36, 13 
   CONTROL "Kilobytes", 115, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 96, 126, 45, 13 
   CONTROL "Megabytes", 116, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 145, 126, 51, 13 
   CONTROL "Gigabytes", 117, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 201, 126, 47, 13 
   CONTROL "Specify Image File Offset and Units:", 127, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 148, 253, 50 
   CONTROL "Image File &Offset:", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 164, 61, 9 
   CONTROL "0", 123, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 81, 162, 87, 13 
   CONTROL "Bytes", 128, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 181, 32, 13 
   CONTROL "Blocks", 129, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 54, 181, 36, 13 
   CONTROL "Kilobytes", 130, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 96, 181, 44, 13 
   CONTROL "Megabytes", 131, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 145, 181, 48, 13 
   CONTROL "Gigabytes", 132, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 201, 181, 48, 13 
   CONTROL "Select Device Type:", 107, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 203, 253, 37 
   CONTROL "&Auto", 108, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 217, 32, 13 
   CONTROL "Fixed &Disk", 109, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 55, 217, 54, 13 
   CONTROL "&Floppy Disk", 118, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 114, 217, 57, 13 
   CONTROL "&CD/DVD-ROM", 110, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 176, 217, 64, 13 
   CONTROL "Select Attributes:", 0, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 245, 253, 50 
   CONTROL "Assign Drive &Letter:", 124, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 14, 261, 65, 9 
   CONTROL "", 103, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 81, 258, 87, 13 
   CONTROL "Create a Copy in &Memory", 106, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 278, 97, 9 
   CONTROL "&Read-only access", 104, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 111, 278, 75, 9 
   CONTROL "Remo&vable Drive", 121, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 187, 278, 69, 9 
   CONTROL "OK", 1, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 155, 300, 50, 15 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 300, 50, 14 
}

3 DIALOG 21, 11, 247, 28
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Virtual Disks"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS SANS SERIF"
{
   CONTROL "", 101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 196, 20 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_TABSTOP, 204, 12, 40, 14 
}

4 DIALOG 173, 56, 228, 72
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT
CAPTION "Extend Disk Size"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS SANS SERIF"
{
   CONTROL "Enter the size you want to add to the selected virtual disk:", 104, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 164, 16 
   CONTROL "", 102, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 24, 164, 13 
   CONTROL "Size Unit:", 103, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 40, 220, 28 
   CONTROL "&Bytes", 114, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 8, 52, 32, 13 
   CONTROL "B&locks", 101, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 41, 52, 36, 13 
   CONTROL "&Kilobytes", 115, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 78, 52, 44, 13 
   CONTROL "&Megabytes", 116, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 123, 52, 48, 13 
   CONTROL "&Gigabytes", 117, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 173, 52, 48, 13 
   CONTROL "OK", 1, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 172, 5, 50, 15 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 24, 50, 15 
}

5 DIALOG 14, 11, 308, 196
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 180, 50, 14 
   CONTROL "", 101, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 0, 308, 176 
}

