#include "imdisk.rc.h"

#ifndef UNICODE
#define UNICODE
#endif
#ifndef _UNICODE
#define _UNICODE
#endif
#include <windows.h>

STRINGTABLE 
{
 IDS_CPLAPPLET_TITLE, "ImDisk Virtual Disk Driver"
 IDS_CPLAPPLET_DESCRIPTION, "ImDisk Virtual Disk Driver"
}

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,4,3,33
PRODUCTVERSION 1,4,3,33
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifndef DEBUG
  FILEFLAGS    0
#else
  FILEFLAGS    VS_FF_DEBUG | VS_FF_PRERELEASE
#endif
FILEOS         VOS_NT
FILETYPE       VFT_APP
FILESUBTYPE    0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "Olof Lagerkvist\0"
            VALUE "FileDescription", "Control Panel Applet for the ImDisk Virtual Disk Driver\0"
            VALUE "FileVersion", "1.4.3.33\0"
            VALUE "InternalName", "imdisk\0"
            VALUE "LegalCopyright", "Copyright © 2004-2011 Olof Lagerkvist.\0"
            VALUE "OriginalFilename", "imdisk.cpl\0"
            VALUE "ProductName", "imdisk\0"
            VALUE "ProductVersion", "1.4.3.33\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}

IDI_APPICON ICON DISCARDABLE "Icons\VD.ico"
IDI_ICONHD ICON DISCARDABLE "Icons\Disk.ico"
IDI_ICONFD ICON DISCARDABLE "Icons\Floppy.ico"
IDI_ICONCD ICON DISCARDABLE "Icons\CD.ico"

IDD_CPLAPPLET DIALOG 81, 42, 387, 216
EXSTYLE WS_EX_APPWINDOW
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
//EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT
//STYLE DS_MODALFRAME | DS_3DLOOK | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ImDisk Virtual Disk Driver"
MENU IDM_MENU_CPL_APPLET
FONT 8, "MS Sans Serif"
{
 CONTROL "Currently mounted &virtual disks", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 2, 108, 9
 CONTROL "Current virtual devices", IDC_LISTVIEW, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 12, 383, 180
 CONTROL "Mount &new...", CM_CPL_APPLET_FILE_MOUNT_NEW, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 196, 60, 16
 CONTROL "&Unmount", CM_CPL_APPLET_SELECTED_UNMOUNT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 196, 60, 16
 CONTROL "&Extend size...", CM_CPL_APPLET_SELECTED_EXTEND_SIZE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 196, 60, 16
 CONTROL "F&ormat...", CM_CPL_APPLET_SELECTED_FORMAT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 196, 196, 60, 16
 CONTROL "Save &image...", CM_CPL_APPLET_SELECTED_SAVE_IMAGE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 196, 60, 16
 CONTROL "&Refresh list", CM_CPL_APPLET_WINDOW_REFRESH, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 324, 196, 60, 16
}

IDD_NEWDIALOG DIALOG 109, 6, 229, 257
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Mount new virtual disk"
FONT 8, "MS Sans Serif"
{
 CONTROL "If you want to create a virtual disk backed by memory instead of an image file, leave the image file field blank and just enter a size in the size field.", IDC_STATICTEXT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 220, 30
 CONTROL "&Image file", IDC_STATICTEXT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 32, 120, 9
 CONTROL "", IDC_EDT_IMAGEFILE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 42, 170, 13
 CONTROL "...", IDC_BTN_BROWSE_FILE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 42, 13, 13
 CONTROL "&Drive letter", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 189, 32, 35, 9
 CONTROL "", IDC_EDT_DRIVE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 188, 42, 36, 13
 CONTROL "Si&ze of virtual disk", IDC_GROUPBOX2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 56, 220, 40
 CONTROL "(current image file size)", IDC_EDT_SIZE, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 66, 212, 13
 CONTROL "Bytes", IDC_UNIT_B, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 8, 80, 32, 13
 CONTROL "Blocks", IDC_UNIT_BLOCKS, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 40, 80, 36, 13
 CONTROL "Kilobytes", IDC_UNIT_KB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 76, 80, 44, 13
 CONTROL "Megabytes", IDC_UNIT_MB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 120, 80, 48, 13
 CONTROL "Gigabytes", IDC_UNIT_GB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 172, 80, 48, 13
 CONTROL "Image file &offset (for non-raw disk image file formats)", IDC_GROUPBOX4, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 96, 220, 40
 CONTROL "0", IDC_EDT_IMAGE_OFFSET, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 106, 212, 13
 CONTROL "Bytes", IDC_OFFSET_UNIT_B, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 8, 120, 32, 13
 CONTROL "Blocks", IDC_OFFSET_UNIT_BLOCKS, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 40, 120, 36, 13
 CONTROL "Kilobytes", IDC_OFFSET_UNIT_KB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 76, 120, 44, 13
 CONTROL "Megabytes", IDC_OFFSET_UNIT_MB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 120, 120, 48, 13
 CONTROL "Gigabytes", IDC_OFFSET_UNIT_GB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 172, 120, 48, 13
 CONTROL "Device type", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 136, 220, 26
 CONTROL "&Auto", IDC_DT_AUTO, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 8, 146, 32, 13
 CONTROL "&Harddisk volume", IDC_DT_HD, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 44, 146, 72, 13
 CONTROL "&Floppy", IDC_DT_FD, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 116, 146, 36, 13
 CONTROL "&CD/DVD-ROM", IDC_DT_CD, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 156, 146, 64, 13
 CONTROL "If you check the 'Copy image file to memory' checkbox the driver will work with a memory copy of the image file. The original image file will not change. Any changes are lost when the drive is dismounted.", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 168, 220, 24
 CONTROL "Copy image file &to memory", IDC_CHK_VM, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 196, 96, 9
 CONTROL "If you check the 'Removable media' checkbox the virtual device will be created with removable and hot-plug characteristics. This affects for example how filesystems cache write operations on the device.", IDC_STATICTEXT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 208, 172, 32
 CONTROL "Remo&vable media", IDC_CHK_REMOVABLE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 244, 84, 9
 CONTROL "&Read-only media", IDC_CHK_READONLY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 244, 76, 9
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 180, 224, 46, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 240, 46, 14
}

IDD_DLG_STATUS DIALOG 21, 11, 247, 28
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "ImDisk Virtual Disk Driver"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_STATUS_MSG, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 196, 20
 CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 204, 12, 40, 14
}

IDD_DLG_EXTEND DIALOG 173, 56, 228, 72
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Extend disk size"
FONT 8, "MS Sans Serif"
{
 CONTROL "Enter the size you want to add to the selected virtual disk (not the new total size):", IDC_STATICTEXT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 164, 16
 CONTROL "", IDC_EDT_EXTEND_SIZE, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 24, 164, 13
 CONTROL "Size unit", IDC_GROUPBOX3, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 40, 220, 28
 CONTROL "&Bytes", IDC_UNIT_B, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 8, 52, 32, 13
 CONTROL "B&locks", IDC_UNIT_BLOCKS, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 40, 52, 36, 13
 CONTROL "&Kilobytes", IDC_UNIT_KB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 76, 52, 44, 13
 CONTROL "&Megabytes", IDC_UNIT_MB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 120, 52, 48, 13
 CONTROL "&Gigabytes", IDC_UNIT_GB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 172, 52, 48, 13
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 172, 4, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 24, 50, 14
}

IDM_MENU_CPL_APPLET MENUEX 
{
 POPUP "&File"
 {
  MENUITEM "Mount &new virtual disk...\tAlt+N", CM_CPL_APPLET_FILE_MOUNT_NEW
  MENUITEM ""
  MENUITEM "E&xit\tAlt+F4", CM_CPL_APPLET_FILE_EXIT
 }

 POPUP "&Selected", CM_CPL_APPLET_SELECTED
 {
  MENUITEM "&Open\tReturn", CM_CPL_APPLET_SELECTED_OPEN
  MENUITEM "&Unmount\tDelete", CM_CPL_APPLET_SELECTED_UNMOUNT
  MENUITEM "&Save to image file...\tAlt+I", CM_CPL_APPLET_SELECTED_SAVE_IMAGE
  MENUITEM "&Extend size...\tAlt+E", CM_CPL_APPLET_SELECTED_EXTEND_SIZE
  MENUITEM "F&ormat...\tAlt+O", CM_CPL_APPLET_SELECTED_FORMAT
  MENUITEM ""
  MENUITEM "Set media &read-only", CM_CPL_APPLET_SELECTED_SET_RO
  MENUITEM "Set media &writeable", CM_CPL_APPLET_SELECTED_SET_RW
  MENUITEM "Set media remo&vable", CM_CPL_APPLET_SELECTED_SET_REM
  MENUITEM "Set media fi&xed", CM_CPL_APPLET_SELECTED_SET_FIXED
 }

 POPUP "&Window"
 {
  MENUITEM "&Refresh list\tAlt+R", CM_CPL_APPLET_WINDOW_REFRESH
 }

 MENUITEM "&About...", CM_CPL_APPLET_HELP_ABOUT
}

IDD_ABOUT_BOX DIALOG 14, 11, 308, 196
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 180, 50, 14
 CONTROL "", IDC_EDT_ABOUTTEXT, "edit", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 0, 308, 176
}

IDD_SELECT_PARTITION_DLG DIALOG 54, 19, 165, 118
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Select partition in disk image"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_SELECT_PARTITION_LIST, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 4, 156, 92
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 108, 100, 50, 14
}

IDD_DLG_OPTIONS_SAVE DIALOG 54, 19, 280, 117
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Select option for saving disk image"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_BTN_ORIG_FILE_ORIG_OFFSET, "button", BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 4, 4, 272, 21
 CONTROL "", IDC_BTN_ORIG_FILE_BASE, "button", BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 4, 28, 272, 21
 CONTROL "", IDC_BTN_NEW_FILE_WITH_MBR, "button", BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 52, 272, 21
 CONTROL "", IDC_BTN_NEW_FILE_BASE, "button", BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 76, 272, 21
 CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 100, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 226, 100, 50, 14
}

